/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal Stylse */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Shared Styles */
.btn-primary {
    background-color: rgba(70, 145, 101, 1);
    padding: 13px 18px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
/* Header Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.nav-list ul{
    display: flex;
    gap: 32px;
}

.nav-list ul li {
    list-style: none;
}

.nav-list ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

/* banner section */
.banner {
    background: url("./assets/hero-bg.png");
    padding: 160px 0;
    text-align: center;
    background-repeat: no-repeat;
}


.banner-btn {
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 1000px;
    color: #30B868;
    font-weight: 500;
    margin-bottom: 24px;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.banner-content h1 span {
    color: rgba(70, 145, 101, 1);
}

.banner-content p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.btn-secondary {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 12px 18px;
    margin-left: 16px;
}

/* main section */

/* card section */

.card-content {
    text-align: center;
    margin: 40px 0;
}

.card-content h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    letter-spacing: 0;
}

.card-content p {
    color: #627382;
}

.card-img {
    padding: 10px;
    border-radius: 100%;
    background: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img {
    width: 60%;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0 120px;
    margin-bottom: 72px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #001931;
    text-align: center;
}

.card p {
    color: #627382;
    text-align: center;
}

/* Hero section */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
}

.hero-img, .hero-content {
    width: 40%;
}

.hero-content h4 {
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    letter-spacing: 0;
    margin-bottom: 16px;
}

.hero-content > p {
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
    letter-spacing: 0;
}

.checklist {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
}

.checklist p {
    color: rgba(0, 25, 49, 1);
    font-weight: 500;
}

/* Early Section */
.early-container {
    background-color: rgba(247, 246, 242, 1);
    border-radius: 8px;
    padding: 80px 40px;
    margin: 120px 120px;
}
.early-content {
    text-align: center;
}

.early-content h1 {
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.early-content p {
    color: #627382;
    margin-bottom: 24px;
}

.early-content button {
    margin-bottom: 24px;
}

/* Footer Section */
footer {
    background-color: rgba(0, 25, 49, 1);
    padding-top: 120px;
    padding-bottom: 30px;
    color: rgba(247, 246, 242, 1);
}

footer p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.line {
    border-bottom: 0.5px solid rgb(75, 77, 82);
    margin: 0 120px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.social {
    margin-right: 100px;
}

.social-icons a {
    color: rgba(255, 255, 255, 1);
}

.social h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    gap: 16px;
    align-items: center;
}