/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal Stylse */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Shared Styles */
.btn-primary {
    background-color: rgba(70, 145, 101, 1);
    padding: 13px 18px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
/* Header Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.nav-list ul{
    display: flex;
    gap: 32px;
}

.nav-list ul li {
    list-style: none;
}

.nav-list ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

/* banner section */
.banner {
    background: url("./assets/hero-bg.png");
    padding: 160px 0;
    text-align: center;
    background-repeat: no-repeat;
}


.banner-btn {
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 1000px;
    color: #30B868;
    font-weight: 500;
    margin-bottom: 24px;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.banner-content h1 span {
    color: rgba(70, 145, 101, 1);
}

.banner-content p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.btn-secondary {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 12px 18px;
    margin-left: 16px;
}
